.pose-container {
    margin: 10px 40px 20px 0px;
    display: flex;
    justify-content: center;
}

.right {
    width: 40%;
}

.left {
    width: 50%;
}

.pose {
    height: 320px;
    margin-left: 70px;
}

.skel {
    position: relative;
    top: 0px;
    left: 200px;
}